@model IEnumerable<CSVUser>
@{
    Layout = null;
}

<form asp-controller="CSVUsers" asp-action="Index" method="post" enctype="multipart/form-data" class="m-3">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Upload</button>
</form>



@if (Model.Count() > 0)
{
    <hr />
    <p><button onclick="sortTableByName()">Sort by Name</button></p>
    <table id="myTable" cellpadding="0" cellspacing="0" border="1">
        <tr>
            <td>Name</td>
            <td>Date of birth</td>
            <td>Married</td>
            <td>Phone</td>
            <td>Salary</td>
        </tr>
        @foreach (CSVUser cSVUser in Model)
        {
            <tr>
                <td>@cSVUser.Name</td>
                <td>@cSVUser.DateOfBirth</td>
                <td>@cSVUser.Married</td>
                <td>@cSVUser.Phone</td>
                <td>@cSVUser.Salary</td>
            </tr>
        }
    </table>
}


<script>
    function sortTableByName() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching(true);
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>
